*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0b0b0b;
    color:#fff;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111;
    border-bottom:1px solid #222;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:50px;
}

.logo h2{
    color:#ff1a1a;
}

nav{
    display:flex;
    align-items:center;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#ff1a1a;
}

.btn-login{
    background:#ff1a1a;
    padding:10px 20px;
    border-radius:6px;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    flex-wrap:wrap;
}

.hero-text{
    max-width:550px;
}

.hero-text h1{
    font-size:60px;
    line-height:1.2;
    margin-bottom:20px;
}

.hero-text p{
    color:#ccc;
    margin-bottom:30px;
    font-size:18px;
}

.buttons{
    display:flex;
    gap:15px;
}

.btn-primary{
    background:#ff1a1a;
    color:white;
    padding:14px 30px;
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
}

.btn-secondary{
    border:2px solid #ff1a1a;
    color:white;
    padding:14px 30px;
    text-decoration:none;
    border-radius:6px;
}

.hero-image img{
    width:500px;
    max-width:100%;
}

section{
    padding:80px 8%;
}

h2{
    font-size:36px;
    margin-bottom:20px;
    color:#ff1a1a;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#181818;
    padding:30px;
    border-radius:10px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    border:1px solid #ff1a1a;
}

ul{
    line-height:2;
    color:#ddd;
}

footer{
    text-align:center;
    padding:30px;
    background:#111;
    color:#888;
}

@media(max-width:900px){

header{
flex-direction:column;
gap:20px;
}

nav{
flex-wrap:wrap;
justify-content:center;
}

.hero{
text-align:center;
}

.hero-text h1{
font-size:42px;
}

  }
